<div class="mat-datepicker-content time-picker"  [@fadeInCalendar]="'enter'">
	<div class="time-picker-wrapper">
    <div class="selector">
		<button (click)="modifyHours()" class="button">&#8657;</button>
    <span class="number">
      {{hours}}
    </span>
    <button (click)="modifyHours(true)" class="button">&#8659;</button>
  </div>
  <div class="separator">:</div>
  <div class="selector">
    <button (click)="modifyMinutes()" class="button">&#8657;</button>
    <span class="number">
      {{minutes}}
    </span>
    <button (click)="modifyMinutes(true)" class="button">&#8659;</button>
  </div>
  </div>

  <div>
    <button (click)="onSet()">
      Confirmar
    </button>
  </div>
</div>